nav{
    height: 100px;
    width: 100%;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 3px solid transparent;
    transition: 1.5s ease-in-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
 
}
.navContainer{
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.logo {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.logo img{
    height: 80%;
    width: auto;
}
.navContainer ul{
    display: flex;
    width: auto;
    gap: 15px;
}
.navContainer ul li a{
    text-decoration: none;
    color: #f3f3f3;
    transition: .3s;
}

.navContainer ul li{
    list-style-type: none;
}
.navContainer ul li:hover a{
    color: rgb(199, 48, 37);
    transition: .3s;
}
.navBorder{
    border-bottom: 3px solid rgb(199, 48, 37);
    transition: 1.5s ease-in-out;
}